.vertical-line {
  width: 8px;
  height: 30px;
  background-color: #fff;
}

.vertical-line.top-line {
  position: relative;
  left: 8px;
  top: -30px;
  width: 14px;
  height: 7px;
}

.vertical-line.middle-line {
  position: relative;
  left: 8px;
  top: -25px;
  width: 11px;
  height: 7px;
}

.vertical-line.underscore {
  position: relative;
  left: 26px;
  top: -15px;
  width: 10px;
  height: 6px;
}

.f {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 115px;
  margin-top: 91px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-line {
  position: relative;
  left: 8px;
  top: -30px;
  width: 14px;
  height: 7px;
  background-color: #fff;
}

.middle-line {
  position: relative;
  left: 8px;
  top: -25px;
  width: 11px;
  height: 7px;
  background-color: #fff;
}

.underscore {
  position: relative;
  left: 26px;
  top: -15px;
  width: 10px;
  height: 6px;
  background-color: #fff;
}

.f-div {
  width: 37px;
  height: 37px;
  margin: auto;
}

.landing {
  height: 1300px;
  background-image: url('../images/Landing.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  height: 1300px;
  background-image: url('../images/Text-Slide-About.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-block {
  position: relative;
  left: -15px;
  top: -3px;
  bottom: 5px;
  font-family: Interface, sans-serif;
  color: #fff;
  font-size: 47px;
}

.full-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.unsize {
  position: relative;
  left: -14px;
  top: -4px;
  max-width: 100%;
}

.block {
  position: fixed;
  top: 91px;
  width: 300px;
  height: 115px;
  background-color: #000;
}

@font-face {
  font-family: 'Interface';
  src: url('../fonts/InterFace_Trial_XBd.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}